{% extends 'base.html' %} {% block title %} Services {% endblock title %} 
{%block body %}

<div class="container marketing mb-3 py-4">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://source.unsplash.com/500x500/?icecream,Faloodeh"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2>Faloodeh</h2>
      <p>
        Thin starch noodles, lime juice, sugar, rose water, ground Pistachios.Unusual but soft and delicious texture.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details »</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://source.unsplash.com/500x500/?icecream,SoftServe"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2>Soft Serve</h2>
      <p>
        Milk, ice, and flavorings; topped with chocolate liquid or rainbow sprinkles.Really smooth, creamy, soft texture.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details »</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://source.unsplash.com/500x500/?icecream,Sherbet"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2>Sherbet</h2>
      <p>
        Frozen berries, sweet water, and sometimes egg whites.Really light, creamy, and smooth in taste and texture
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details »</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        First featurette heading.
        <span class="text-muted">It'll blow your mind.</span>
      </h2>
      <p class="lead">
        Commonly used as a palate cleanser in fancier meals, sorbet is one of
        the types of ice cream with the iciest consistency. Commonly created
        with fruity flavors in mind, sorbet is completely dairy-free, relying on
        the fruit alone to create the flavor for the dish. As you freeze sorbet,
        tiny crystal networks form, creating the strange consistency that you
        really can’t find in any other type of dish. Some dairy chefs have
        resorted to creating types of sorbet that have dairy involved, but if
        you’re a sorbet purist, you know that dairy is never involved, leading
        many people to believe that it’s not really a form of ice cream at all.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        style="width: 500px; height: 500px"
        src="https://source.unsplash.com/500x500/?icecream"
        data-holder-rendered="true"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Oh yeah, it's that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">
        This is the most rich type of ice cream, as it’s made with mostly heavy
        cream and eggs for a mix of flavor and texture control that you can’t
        find in any other type of ice cream. This type of ice cream is at least
        ten percent butter fat by volume, making it a hearty, yet unhealthy
        choice for many people that want to indulge in a tasty treat. You’ll
        often find this type of ice cream across America, especially in the
        midwestern parts.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        class="featurette-image img-fluid mx-auto"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        style="width: 500px; height: 500px"
        src="https://source.unsplash.com/500x500/?icecream,cone"
        data-holder-rendered="true"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        And lastly, this one. <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">
        If you’re thinking of ice cream, the type that you’re probably thinking
        of is a classic New England scoop. New England ice cream is incredibly
        chewy: it’s the kind of ice cream that you almost bite off of the cone.
        Incredibly dense and flavorful, one of the very best styles of ice cream
        that you can enjoy is New England style. Because it’s so dense, this
        type of ice cream is the perfect candidate for toppings, as it’s very
        easy to make sure that the toppings stick effectively to the rest of the
        cone.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        style="width: 500px; height: 500px"
        src="https://source.unsplash.com/500x500/?icecream,drinks"
        data-holder-rendered="true"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>

{% comment %}
<img
  src="https://source.unsplash.com/500x500/?icecream"
  class="rounded float-left"
  alt="..."
/>
<img
  src="https://source.unsplash.com/500x500/?coffee"
  class="rounded float-right"
  alt="..."
/>
{% endcomment %} {% endblock body %}
